<article class="box">
  <h2 class="title">Patch 0.8.2</h2>
  <h2 class="subtitle">15 Mar 2021</h2>

  <h3 class="is-size-3">Fixes</h3>
  <ul>
    <li>
        <strong>Codebase infrastructure & quality</strong>
        The settings are now split, depending on the instance type.
        Linting is updated to last standards.
    </li>
    <li>
      <strong>Upgrade dependencies</strong>
      The following dependencies were upgraded for security reasons: <code>cryptography@3.4.6</code>.
    </li>
  </ul>
</article>