<article class="box">
  <h2 class="title">Release 0.8</h2>
  <h2 class="subtitle">3 Nov 2020</h2>

  <h3 class="is-size-3">Features</h3>
  <ul>
    <li>
      <strong>Server compression</strong>
      Files are now served using Gzip compression.
      Your favourite website should load even faster than before!
    </li>
    <li>
      <strong>Licensing</strong>
      This website is now developped under the MIT license
    </li>
  </ul>

  <h3 class="is-size-3">Fixes</h3>
  <ul>
    <li>
      <strong>Email templates</strong>
      Compiled email templates used to be unsuccessfully copied to correct location.
      This used to cause errors while sending emails to users
    </li>
    <li>
      <strong>Alternate text for images</strong>
      This should improve accessibility for all users
    </li>
    <li>
      <strong>Upgrade dependencies</strong>
      The following dependencies were upgraded for security reasons: node-fetch@2.6.1, cryptography@3.2.1
    </li>
  </ul>
</article>