[flake8]
max-line-length = 88
per-file-ignores =
    */__init__.py: F401
    django_bike/settings/*.py: F401, F403
ignore =
	W503 # Black decides otherwise
	E203 # https://github.com/psf/black/issues/315#issuecomment-395457972
exclude =
    .venv/