# Python
*.egg-info
*.pyc

# IDE
.vscode

# Data
*.sqlite3
pgdata/
media/account/avatar/
media/track/source/
/static/

# Config
.env
.coverage
htmlcov

# Node
node_modules/
build/
apps/main/templates/email/**/*.html
