nav {
    display: flex;
    flex-wrap: nowrap;
}

nav > a, nav > span {
    flex-grow: 1;
    text-align: center;
    padding: 1em;
    border-right: 1px black solid;
    background-color: var(--bg-color);
    color: lightgrey;
    text-decoration: none;
}

nav > a:hover {
    background-color: var(--bg-active-color);
    color: white;
}

nav > a:last-child {
    border-right: none;
}