<div class="field is-grouped is-grouped-multiline">
  {% comment %} Likes {% endcomment %}
  <div class="control">
    <span class="tags has-addons">
      <span class="tag is-success icon">
        <i class="fas fa-thumbs-up"></i>
      </span>
      <span class="tag">{{track.like_set.count}}</span>
    </span>
  </div>
  {% comment %} Comments {% endcomment %}
  <div class="control">
    <span class="tags has-addons">
      <span class="tag is-dark icon">
        <i class="fas fa-comments"></i>
      </span>
      <span class="tag">{{track.comment_set.count}}</span>
    </span>
  </div>
  {% comment %} User {% endcomment %}
  <div class="control">
    <span class="tags has-addons">
      <span class="tag is-dark icon">
        <i class="fas fa-user"></i>
      </span>
      <span class="tag">
        {{track.user}}
      </span>
    </span>
  </div>
  {% comment %} Duration {% endcomment %}
  <div class="control">
    <span class="tags has-addons">
      <span class="tag is-dark icon">
        <i class="fas fa-stopwatch"></i>
      </span>
      <span class="tag">
        {{track.trackstat.duration}}
      </span>
    </span>
  </div>
  {% comment %} Distance {% endcomment %}
  <div class="control">
    <span class="tags has-addons">
      <span class="tag is-dark icon">
        <i class="fas fa-arrows-alt-h"></i>
      </span>
      <span class="tag">
        {{track.trackstat.distance_km|floatformat:1}} km
      </span>
    </span>
  </div>
  {% comment %} Positive elevation {% endcomment %}
  <div class="control">
    <span class="tags has-addons">
      <span class="tag is-dark icon">
        <i class="fas fa-arrows-alt-v"></i>
      </span>
      <span class="tag">
        {{track.trackstat.pos_ele|floatformat:0}} m
      </span>
    </span>
  </div>
  {% comment %} Mean speed {% endcomment %}
  <div class="control">
    <span class="tags has-addons">
      <span class="tag is-dark icon">
        <i class="fas fa-tachometer-alt"></i>
      </span>
      <span class="tag">
        {{track.trackstat.mean_speed_km_h|floatformat:1}} km/h
      </span>
    </span>
  </div>
</div>
