{% extends 'base.html' %}

{% load cache %}
{% load track_tags %}

{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div class="box">
  <div class="level">
    <div class="level-left">
      <div>
        <h2 class="title">{{track.name}}</h2>
        <h2 class="subtitle">{{track.datetime}}, by {{track.user}}</h2>
      </div>
    </div>
    <div class="level-right">
      <div class="field is-grouped">
        {% if request.user == track.user %}
          <p class="control">
            <button class="button" disabled>
              <span class="icon"><i class="fas fa-thumbs-up"></i></span>
              <span>{{track.like_set.count}}</span>
            </button>
          </p>
          <p class="control">
            <button class="button is-primary" value="track-edit-modal" name="modal-open">Edit</button>
          </p>  
          <p class="control">
            <button class="button is-danger" value="track-delete-modal" name="modal-open">Delete</button>
          </p>
        {% elif request.user.is_anonymous %}
          <p class="control">
            <span class="button is-success is-outlined" disabled>
              <span class="icon"><i class="fas fa-thumbs-up"></i></span>
              <span>{{track.like_set.count}}</span>
            </span>
          </p>
        {% else %}
          {% user_likes_track request.user track as should_unlike %}
          {% if should_unlike %}
            <p class="control">
              <form action="{% url 'track:unlike' track.pk %}" method="post">{% csrf_token %}
                <button class="button is-success">
                  <span class="icon"><i class="fas fa-thumbs-up"></i></span>
                  <span>{{track.like_set.count}}</span>
                </button>
              </form>
            </p>
          {% else %}
            <p class="control">
              <form action="{% url 'track:like' track.pk %}" method="post">{% csrf_token %}
                <button class="button is-success is-outlined">
                  <span class="icon"><i class="fas fa-thumbs-up"></i></span>
                  <span>{{track.like_set.count}}</span>
                </button>
              </form>
            </p>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">
          <span class="icon">
            <i class="fas fa-stopwatch"></i>
          </span>
          Duration
        </p>
        <p class="title">{{track.trackstat.duration}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">
          <span class="icon">
            <i class="fas fa-arrows-alt-h"></i>
          </span>
          Distance
        </p>
        <p class="title">{{track.trackstat.distance|floatformat:1}} km</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">
          <span class="icon">
            <i class="fas fa-arrows-alt-v"></i>
          </span>
          Positive elevation
        </p>
        <p class="title">{{track.trackstat.pos_ele|floatformat:0}} m</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">
          <span class="icon">
            <i class="fas fa-tachometer-alt"></i>
          </span>
          Average speed
        </p>
        <p class="title">{{track.trackstat.mean_speed|floatformat:1}} km/h</p>
      </div>
    </div>
  </div>
</div>

{% cache None track_charts track.pk %}
{% autoescape off %}
{% for chart in charts %}
  <div class="box">{{chart}}</div>
{% endfor %}
{% endautoescape %}
{% endcache %}
{% comment %} <iframe src="/track/{{track.pk}}/chart/alt_vs_dist.AltVSDistChart" frameborder="0" class="box"></iframe> {% endcomment %}

{% include "track/track_delete_modal.html" %}
{% include "track/track_edit_modal.html" %}
{% endblock content %}

{% block side %}
<div class="box">
  <h2 class="header">Comments ({{track.comment_set.count}})</h2>
  <form method="post" action="{% url 'track:comment' track.pk %}">{% csrf_token %}
    {% include "form.html" with form=comment_form %}
    <div class="control">
      <button class="button is-link is-fullwidth">
        <span class="icon">
          <i class="fas fa-paper-plane"></i>
        </span>
        <span>Send (max 200 char)</span>
      </button>
    </div>
  </form>
  <br>
  {% for comment in comment_set %}
    <article class="media">
      <figure class="media-left">
        <p class="image is-32x32">
          <img src="{{ comment.author.profile.avatar.url }}" alt="{{ comment.author.username }} avatar">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{comment.author}}</strong>
            <br>
            <small>on {{comment.datetime}}</small>
          </p>
          {{ comment.text|linebreaks }}
        </div>
      </div>
    </article>
  {% endfor %}
</div>
{% endblock side %}
