{% extends 'base.html' %}

{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div class="box">
  <div class="level">
    <div class="level-left">
      <div>
        <h2 class="title">{{track.name}}</h2>
        <h2 class="subtitle">{{track.datetime}}</h2>
      </div>
    </div>
    <div class="level-right">
      <div class="field is-grouped">
        {% if request.user == track.user %}
          <p class="control">
            <button class="button is-primary" value="track-edit-modal" name="modal-open">Edit</button>
          </p>  
        {% endif %}
        <p class="control">
          <button class="button is-danger" value="track-delete-modal" name="modal-open">Delete</button>
        </p>
      </div>
    </div>
  </div>
  <div class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Duration</p>
        <p class="title">{{track_stat.duration}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Distance</p>
        <p class="title">{{track_stat.distance|floatformat:1}} km</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Positive elevation</p>
        <p class="title">{{track_stat.pos_ele|floatformat:0}} m</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Average speed</p>
        <p class="title">{{track_stat.mean_speed|floatformat:1}} km/h</p>
      </div>
    </div>
  </div>
</div>

{% autoescape off %}
{% for chart in charts %}
  <div class="box">{{chart}}</div>
{% endfor %}
{% endautoescape %}

{% include "track/track_delete_modal.html" %}
{% include "track/track_edit_modal.html" %}
{% endblock content %}
