{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ SITE_NAME }}</title>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
    integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o="
    crossorigin="anonymous"
  >
  <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body class="has-background-light">
  {% include 'navbar.html' %}
  <div class="columns mx-4 mt-4">
    <div class="column">
      <script defer src="{% static 'bundle.js' %}"></script>
      <div id="svelte-root"></div>
      {% for message in messages %}
        <div class="notification {% if message.tags %}is-{{message.tags}}{% endif %}">
          <button class="delete"></button>
          {{message}}
        </div>
      {% endfor %}
    </div>
    <div class="column is-two-thirds">
      {% block content %}
      {% endblock content %}
    </div>
    <div class="column">
      {% block side %}
      {% endblock side %}
    </div>
  </div>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>
